.Dictionary section {
    background-color: rgb(200, 192, 248);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0 0 0 / 10%);
    margin: 20px 0;
}
.Dictionary input {
    width: 100%;
    padding: 4px 4px;
    border: 1px solid #ddd;
    border-radius: 6px;

}
.Dictionary .hint
{font-size: 11px;
margin-top: 5px;
}
.Dictionary .search 
{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.Photos {
    margin-top: 30px;
    background-color: rgb(200, 192, 248);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0 0 0 / 10%);
    margin: 20px 0;
  }
  .Photos h3
  {
    font-size: 30px;
    font-weight: bold;
  }
  
  .photo-grid {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  
  .photo-single {
    max-width: 100%;
    border-radius: 10px;
  }